.container {
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: $dark1;
    padding: 10px;
}

.text {
    color: $light0;
    font-size: rem(24px);
    text-align: center;
}

.bottomSheet {
    // height: 200px;
    width: 100%;
    background-color: $bg;
}